---
import Section from '@/components/Section.astro'

interface Props {
  title: string;
  summary: string;
}

const { title, summary } = Astro.props;
---

<Section title={title}>
    <p>
        {summary}
    </p>
</Section>
