---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";

const { name, label } = basics;
//
window.onload = function () {
        // Función para actualizar el ancho de la ventana
        function actualizarAnchoVentana() {
          var anchoVentana =
            window.innerWidth ||
            document.documentElement.clientWidth ||
            document.body.clientWidth;
          // Actualizar el contenido en el cuerpo del documento
          document.body.innerHTML =
            "<p>Ancho de la ventana: " + anchoVentana + "px</p>";
        }

        // Llamar a la función inicialmente
        actualizarAnchoVentana();

        // Actualizar el ancho de la ventana cuando cambia el tamaño de la ventana
        window.addEventListener("resize", actualizarAnchoVentana);
      };

---

<Layout title=`${name}'s portfolio | ${label}`>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
